<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a
          *ngFor="let navItem of navItems$ | async"
          class="nav-item nav-link"
          [routerLink]="navItem.url">
            {{ navItem.text }}
        </a>
        <a *ngIf="!(user$ | async)" routerLink="/login" class="nav-item nav-link pull-right">
          Login
        </a>
        <button (click)="onLogout()" *ngIf="user$ | async" class="nav-item nav-link btn btn-default pull-right">
          Logout
        </button>
    </div>
</nav>
