<div class="row">
  <div class="col-12 col-lg-6 offset-lg-3 mt-3">
    <form #userForm="ngForm" *ngIf="user$ | async; let user" (ngSubmit)='onSave(userForm, user.id)'>
      <div class="form-group">
        <label for="firstName">
          First Name
        </label>
        <input required name="firstName" id="firstName" [(ngModel)]="user.firstName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="lastName">
          Last Name
        </label>
        <input required name="lastName" id="lastName" [(ngModel)]="user.lastName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">
          Email
        </label>
        <input required name="email" id="email" [(ngModel)]="user.email" type="email" email class="form-control">
      </div>
      <div class="form-group">
        <label for="role">
          Role
        </label>
        <select required name="role" id="role" [(ngModel)]="user.role" class="form-control">
          <option value="0">Visitor</option>
          <option value="1">Viewer</option>
          <option value="2">Editor</option>
          <option value="3">Admin</option>
        </select>
      </div>
      <button class="btn btn-primary btn-block mt-3" type="submit" [disabled]="userForm.invalid">
        Save
      </button>
    </form>
  </div>
</div>
