<div class="row">
  <div class="col-4 offset-8">
    <input [(ngModel)]="searchPhrase" placeholder="search..." type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>IP</th>
          <th>Role</th>
          <th>Fibonacci</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList$ | async">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.ipAddress }}</td>
          <td>{{ getRoleName(user.role) }}</td>
          <td>{{ 25 | fibonacci }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['/', 'user-edit', user.id]" class="btn btn-info">
                edit
              </button>
              <button class="btn btn-info">
                delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
